:root {
  --Excerpt-padding: 20px;
  --Excerpt-highlight-color: orange;
}

.Excerpt {
  padding: var(--Excerpt-padding);
  &-thumbnail {
    border: 2px solid var(--Excerpt-highlight-color);
    border-radius: 3px;
    margin-right: 10px;
  }
  &-title {
    border-bottom: 1px solid #ccc;
    margin: 0 0 15px;
    padding-bottom: 5px;
  }
  &-text {
    /* ... */
  }
  &-readMore {
    display: inline-block;
    margin-top: 10px;
  }
}
